{% load static %}
{% load link_extras %}

<head>
  <title>Links Archive</title>
  <link href="{% static "link/style.css" %}" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="main">
    <div id="list">
      <h1>Links Archive</h1>
      <p>(<a href="/links">See archive</a>, <a href="/">See upcoming</a>, <a href="/links/add_link.html">Add link</a>, <a href="/admin/link/link">Admin</a>, <a href="/admin/logout">Logout</a>)</p>

      <ul>
      {% for link in object_list %}
      <li><b><a href="{{ link.url }}">{{ link.title }}</a> [{{ link.domain|domain }}]:</b> {{ link.summary|summary }} <i>(<div class="tooltip">{{ link.modified|date:"d M 'y" }}<span class="tooltiptext">Added {{ link.modified }}</span></div> in <b>{{ link.category }}</b>)</i></li>
      {% empty %}
        <li>No links yet.</li>
      {% endfor %}
      </ul>

      <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
              <a href="?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after }}&category={{ request.GET.category }}&summary={{ request.GET.summary }}&sort={{ request.GET.sort }}&page=1">&laquo; first</a>
              <a href="?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after }}&category={{ request.GET.category }}&summary={{ request.GET.summary }}&sort={{ request.GET.sort }}&page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
              <a href="?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after }}&category={{ request.GET.category }}&summary={{ request.GET.summary }}&sort={{ request.GET.sort }}&page={{ page_obj.next_page_number }}">next</a>
              <a href="?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after }}&category={{ request.GET.category }}&summary={{ request.GET.summary }}&sort={{ request.GET.sort }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
    </div>
  </div>
</body>
