{% load static %}
<head>
  <title>Add Link</title>
  <link href="{% static "link/style.css" %}" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="main">
    <h1>Add Link</h1>
    <p>(<a href="/links">Links</a>, <a href="/notes">Notes</a>, <a href="/?aggregator=-Custom">Upcoming</a> <a href="/?aggregator=Custom">OneTab</a>, <a href="/?starred=1">Starred</a>, Add, <a href="/admin/link/link">Admin</a>, <a href="/admin/logout">Logout</a>)</p>

      <form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Submit">
      </form>
  </div>
</body>
