{% load static %}
<head>
  <title>Update Link</title>
  <link href="{% static "link/style.css" %}" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="main">
    <h1>Update Link</h1>
    <p>(<a href="/links">Links</a>, <a href="/notes">Notes</a>, <a href="/">Upcoming</a>, <a href="/?aggregator=Custom">OneTab</a>, Add, <a href="/admin/link/link">Admin</a>, <a href="/admin/logout">Logout</a>)</p>

		<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Submit">
		</form>
  </div>
</body>
