{% load static %}
<head>
  <title>Upcoming Links</title>
  <link href="{% static "link/style.css" %}" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="main">
    <h1>Upcoming Links {{ request.GET.q }}</h1>
    <p>(<a href="/links">Links</a>, <a href="/notes">Notes</a>, <a href="/?aggregator=-Custom">Upcoming</a>, <a href="/?aggregator=Custom">OneTab</a>, <a href="/links/add_link.html">Add</a>, <a href="/admin/link/link">Admin</a>, <a href="/admin/logout">Logout</a>)</p>

    <ul>
    {% for link in object_list %}
      <li>
        <form action="{% url 'link_update' pk=link.pk %}?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after}}&sort={{ request.GET.sort }}&page={{ page_obj.number }}" method="POST">
            {% csrf_token %}
            <a class='btn btn-success' href="/update/{{link.pk}}/?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after }}&sort={{ request.GET.sort }}&page={{ page_obj.number }}">Yes</a>
            <input type="hidden" name="aggregator" value="{{ link.aggregator }}">
            <input type="hidden" name="url" value="{{ link.url }}">
            <input type="hidden" name="title" value="{{ link.title }}">
            <input class="btn btn-default btn-danger" type="submit" name="delete" value="No"/>
            <b>[{{ link.aggregator }}]</b> <a href="{{ link.url }}">{{ link.title }}</a> (<div class="tooltip"><i>{{ link.added|date:"D, d M" }}<span class="tooltiptext">{{ link.added }} (id={{ link.id }}, seed={{ link.seed }}, weight={{ link.priority }} -> priority={{ link.total_priority|floatformat:3 }})</span></i></div>)</li>
        </form>
    {% empty %}
        <li>No links yet.</li>
    {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after }}&sort={{ request.GET.sort }}&page=1">&laquo; first</a>
            <a href="?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after }}&sort={{ request.GET.sort }}&page={{ page_obj.previous_page_number }}">previous</a>...
            {% endif %}

            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}... <em>({{ total_count }} total... {{ liked_count }} liked / {{ read_count }} read today)</em>
            </span>

            {% if page_obj.has_next %}
            ...<a href="?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after }}&sort={{ request.GET.sort }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?url={{ request.GET.url }}&title={{ request.GET.title }}&aggregator={{ request.GET.aggregator }}&before={{ request.GET.before }}&after={{ request.GET.after }}&sort={{ request.GET.sort }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>
</body>
